build/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Scripts
*.sh

# Cloud points
cloud_points/*
# Exception
!cloud_points/cloud_point_test.laz

# VScode
.vscode/

# To do list
TODO

# txt
*.txt

# Make
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake.user
CMakeLists.txt.user

# Cmake LASlib
third_party/LAStools/LASlib/src/cmake_install.cmake
third_party/LAStools/LASlib/src/CMakeFiles/CMakeDirectoryInformation.cmake
third_party/LAStools/LASlib/src/CMakeFiles/Export/c55326e5cb745217e14af8383b523273/laslib-targets.cmake
third_party/LAStools/LASlib/src/CMakeFiles/LASlib.dir/build.make
third_party/LAStools/LASlib/src/CMakeFiles/LASlib.dir/compiler_depend.internal
third_party/LAStools/LASlib/src/CMakeFiles/LASlib.dir/compiler_depend.make
third_party/LAStools/LASlib/src/CMakeFiles/LASlib.dir/DependInfo.cmake
third_party/LAStools/LASlib/src/CMakeFiles/LASlib.dir/flags.make
third_party/LAStools/LASlib/src/CMakeFiles/LASlib.dir/link.txt

third_party/LAStools/**/CMakeFiles/
third_party/LAStools/**/*.cmake
third_party/LAStools/**/*.make
third_party/LAStools/**/link.txt

third_party/LAStools/Makefile
third_party/LAStools/LASlib/src/Makefile